{% extends '_base.jinja.html' %}
{% block style %}
    {{ super() }}
    body {
        font-family: Arial,serif;
        font-size: 42px;
    }
{% endblock %}
{% block body %}

<!-- hide footer logo / url -->

<div style="width: 1040px;height: 63px;background-color: white;position: absolute;top: 3413px;z-index: 111;right: 69px;"></div>
<div style="width: 500px;height: 63px;background-color: white;position: absolute;top: 3413px;z-index: 111;right: 1880px;"></div>

<!-- end hide footer logo / url -->

{% endblock %}
