{% extends '_base.jinja.html' %}
{% block style %}
    {{ super() }}
    body {
        font-family: Arial,serif;
        font-size: 42px;
    }
    div {
        position: absolute;
        overflow:hidden;
    }
    .hidebg {
        background-color: white;
    }
    .hidebg-gray {
        background-color: lightgray
    }
    .miriam {
        font-family: Miriam,serif;
        font-size: 47px;
    }
    .david {
        font-family: David,serif;
        font-size: 45px;
    }

{% endblock %}
{% block body %}
<div class="david" style="background-image: url('east-page-1-empty.png'); width: 2480px; height: 3507px;">
    <div class="hidebg" style="top: 183px; right: 94px; font-size: 54px; width: 1400px; height: 54px;">
        <span id="company" style="font-weight: 900;">מטריקס אי.טי מערכות מידע מתקדם</span>
        <span id="address_company">, אבא אבן 3 הרצליה 46120</span>
    </div>
    <div id="tik_nikuyim" class="hidebg" style="top: 233px; right: 358px; font-size: 54px; width: 230px; height: 54px;">943049882</div>
    <div id="company_number" class="hidebg" style="top: 233px; right: 752px; font-size: 54px; width: 230px; height: 54px;">511171662</div>
    <div id="department" class="hidebg" style="top: 280px; right: 275px; font-size: 54px; width: 700px; height: 54px;">4015300 פיתוח ממשלה</div>
    <div id="tlush_date" class="hidebg" style="font-weight: 900; top: 327px; right: 481px; font-size: 54px; width: 500px; height: 54px;">אפריל 2024</div>
    <div id="full_name" class="hidebg" style="top: 526px; right: 259px; font-size: 54px; width: 500px; height: 54px;">פלוני אלמוני</div>
    <div id="address_person" class="hidebg" style="top: 580px; right: 239px; font-size: 54px; width: 500px; height: 54px;">שפרינצק 25</div>
    <div id="city_zip" class="hidebg" style="top: 628px; right: 259px; font-size: 54px; width: 600px; height: 54px;">מודיעין-מכבים 7170143</div>

    <div id="total_tashlumim" style="top: 304px; right: 2156px; font-size: 41px; width: 200px; height: 39px;">123</div>
    <div id="nikuy_hova_tax" style="top: 350px; right: 2156px; font-size: 41px; width: 200px; height: 39px;">123</div>
    <div id="kipot_gemel" style="top: 391px; right: 2156px; font-size: 41px; width: 200px; height: 39px;">123</div>
    <div id="neto_salary" style="top: 432px; right: 2156px; font-size: 41px; width: 200px; height: 39px;">123</div>
    <div id="nikuy_hithayvut" style="top: 473px; right: 2156px; font-size: 41px; width: 200px; height: 39px;">123</div>
    <div id="neto_tashlum" style="top: 523px; right: 2156px; font-size: 41px; width: 200px; height: 39px;">123</div>

    <div id="acount_number" class="hidebg" style="top: 738px; right: 1771px; font-size: 41px; width: 200px; height: 39px;">123456</div>
    <div id="branch_number" class="hidebg" style="top: 738px; right: 2071px; font-size: 41px; width: 130px; height: 39px;">905</div>
    <div id="bank_number" class="hidebg" style="top: 738px; right: 2235px; font-size: 41px; width: 150px; height: 39px;">10</div>

    <div style="top: 1091px; right: 91px; font-size: 41px; font-weight: 900; width: 200px; height: 40px;">שכר עבודה</div>
    <div id="semel_salary" style="top: 1130px; right: 91px; font-size: 41px; width: 200px; height: 40px;">001</div>
    <div id="salary" style="top: 1130px; right: 170px; font-size: 41px; width: 200px; height: 40px;">שכר בסיס</div> <!-- not sure if should be changed -->
    <div id="salary_kamut" style="top: 1130px; right: 1304px; font-size: 41px; width: 160px; height: 40px;">100.00</div>
    <div id="salary_payment" style="top: 1130px; right: 1506px; font-size: 41px; width: 220px; height: 40px;">123456</div>
    <div style="top: 1175px; right: 485px; font-size: 41px; font-weight: 900; width: 500px; height: 40px;">סה"כ שכר עבודה</div>

    <div id="total_salary" style="top: 1175px; right: 1506px; font-size: 41px; font-weight: 900; width: 500px; height: 40px;">123456</div>
    <div style="top: 1216px; right: 91px; font-size: 41px; font-weight: 900; width: 500px; height: 40px;">תשלומים בגין שעות נוספות ומאמץ מיוחד</div>
    <div id="semel_extra_hours" style="top: 1260px; right: 91px; font-size: 41px; width: 120px; height: 40px;">114</div>
    <div id="extra_hours" style="top: 1260px; right: 170px; font-size: 41px; width: 270px; height: 40px;">שע.נוספות 125%</div>
    <div id="extra_hours_rate" style="top: 1260px; right: 995px; font-size: 41px; width: 270px; height: 40px;">12345</div>
    <div id="extra_hours_percentage" style="top: 1260px; right: 1170px; font-size: 41px; width: 270px; height: 40px;">125</div>
    <div id="extra_hours_kamut" style="top: 1260px; right: 1304px; font-size: 41px; width: 270px; height: 40px;">4.92</div>
    <div id="extra_hours_payment" style="top: 1260px; right: 1506px; font-size: 41px; width: 270px; height: 40px;">4.92</div>
    <div style="top: 1298px; right: 485px; font-size: 41px; font-weight: 900; width: 500px; height: 40px;">סה"כ תשלומים בגין שעות נוספות ומאמץ מיוחד</div>
    <div style="top: 1337px; right: 91px; font-size: 41px; font-weight: 900; width: 500px; height: 40px;">תשלומים בגין הוצאות</div>
    <div id="semel_first_expanses" style="top: 1380px; right: 91px; font-size: 41px; width: 120px; height: 40px;">113</div>
    <div id="first_expanses" style="top: 1380px; right: 170px; font-size: 41px; width: 270px; height: 40px;">טלפון</div>
    <div id="first_expanses_total" style="top: 1380px; right: 1506px; font-size: 41px; width: 270px; height: 40px;">12345</div>
    <div id="semel_second_expanses" style="top: 1423px; right: 91px; font-size: 41px; width: 120px; height: 40px;">048</div>
    <div id="second_expanses" style="top: 1423px; right: 170px; font-size: 41px; width: 270px; height: 40px;">הבראה</div>
    <div id="second_expanses_total" style="top: 1423px; right: 1506px; font-size: 41px; width: 270px; height: 40px;">12345</div>
    <div id="semel_third_expanses" style="top: 1464px; right: 91px; font-size: 41px; width: 120px; height: 40px;">051</div>
    <div id="third_expanses" style="top: 1464px; right: 170px; font-size: 41px; width: 270px; height: 40px;">חוצה ישראל</div>
    <div id="third_expanses_total" style="top: 1464px; right: 1506px; font-size: 41px; width: 270px; height: 40px;">12345</div>
    <div style="top: 1508px; right: 485px; font-size: 41px; font-weight: 900; width: 500px; height: 40px;">סה"כ תשלומים בגין הוצאות</div>
    <div style="top: 1508px; right: 1506px; font-size: 41px; width: 500px; height: 40px;">123456</div>

    <div style="top: 1547px; right: 91px; font-size: 41px; font-weight: 900; width: 500px; height: 40px;">תשלומים אחרים</div>
    <div id="semel_first_other_expanses" style="top: 1590px; right: 91px; font-size: 41px; width: 120px; height: 40px;">123</div>
    <div id="description_first_other_expanses" style="top: 1590px; right: 170px; font-size: 41px; width: 120px; height: 40px;">123</div>
    <div id="info_first_other_expanses" style="top: 1590px; right: 485px; font-size: 41px; width: 120px; height: 40px;">123</div>
    <div id="pay_sum_first_other_expanses" style="top: 1590px; right: 1325px; font-size: 41px; width: 120px; height: 40px;">123</div>
    <div id="semel_second_other_expanses" style="top: 1630px; right: 91px; font-size: 41px; width: 120px; height: 40px;">123</div>
    <div id="description_second_other_expanses" style="top: 1630px; right: 170px; font-size: 41px; width: 120px; height: 40px;">123</div>
    <div id="info_second_other_expanses" style="top: 1630px; right: 485px; font-size: 41px; width: 120px; height: 40px;">123</div>
    <div id="pay_sum_second_other_expanses" style="top: 1630px; right: 1325px; font-size: 41px; width: 120px; height: 40px;">123</div>
    <div id="semel_third_other_expanses" style="top: 1670px; right: 91px; font-size: 41px; width: 120px; height: 40px;">123</div>
    <div id="description_third_other_expanses" style="top: 1670px; right: 170px; font-size: 41px; width: 120px; height: 40px;">123</div>
    <div id="info_third_other_expanses" style="top: 1670px; right: 485px; font-size: 41px; width: 120px; height: 40px;">123</div>
    <div id="pay_sum_third_other_expanses" style="top: 1670px; right: 1325px; font-size: 41px; width: 120px; height: 40px;">123</div>
    <div id="semel_four_other_expanses" style="top: 1711px; right: 91px; font-size: 41px; width: 120px; height: 40px;">123</div>
    <div id="description_four_other_expanses" style="top: 1711px; right: 170px; font-size: 41px; width: 120px; height: 40px;">123</div>
    <div id="info_four_other_expanses" style="top: 1711px; right: 485px; font-size: 41px; width: 120px; height: 40px;">123</div>
    <div id="pay_sum_four_other_expanses" style="top: 1711px; right: 1325px; font-size: 41px; width: 120px; height: 40px;">123</div>

    <div style="top: 1756px; right: 485px; font-size: 41px; font-weight: 900; width: 500px; height: 40px;">סה"כ תשלומים אחרים</div>
    <div style="top: 1790px; right: 91px; font-size: 41px; font-weight: 900; width: 500px; height: 40px;">מידע נוסף</div>
    <div id="semel_work_hours" style="top: 1833px; right: 91px; font-size: 41px; width: 120px; height: 40px;">1436</div>
    <div id="work_hours" style="top: 1833px; right: 170px; font-size: 41px; width: 280px; height: 40px;">שעות עבודה</div>
    <div id="work_hours_float" style="top: 1833px; right: 1304px; font-size: 41px; width: 160px; height: 40px;">191.92</div>
    <div id="semel_hours_employer_allowance" style="top: 1876px; right: 91px; font-size: 41px; width: 500px; height: 40px;">1439</div>
    <div id="hours_employer_allowance" style="top: 1876px; right: 170px; font-size: 41px; width: 280px; height: 40px;">שע אישור מעסיקי</div>
    <div id="hours_employer_allowance_float" style="top: 1876px; right: 1304px; font-size: 41px; width: 160px; height: 40px;">191.92</div>
    <div style="top: 1915px; right: 485px; font-size: 41px; font-weight: 900; width: 500px; height: 40px;">סה"כ מידע נוסף</div>
    <div style="top: 1960px; right: 91px; font-size: 41px; font-weight: 900; width: 500px; height: 40px;">זקיפות שכר</div>
    <div id="semel_first" style="top: 2059px; right: 91px; font-size: 41px; width: 120px; height: 40px;">150</div>
    <div id="description_first" style="top: 2059px; right: 170px; font-size: 41px; width: 280px; height: 40px;">שווי רכב</div>
    <div id="untitled_first" style="top: 2059px; right: 470px; font-size: 41px; width: 400px; height: 40px;">קבוע</div>
    <div id="kamut_first" style="top: 2059px; right: 1060px; font-size: 41px; width: 200px; height: 40px;">1.00</div>
    <div id="sum_tkina_first" style="top: 2059px; right: 1275px; font-size: 41px; width: 200px; height: 40px;">123456</div>
    <div id="semel_second" style="top: 2103px; right: 91px; font-size: 41px; width: 120px; height: 40px;">150</div>
    <div id="description_second" style="top: 2103px; right: 170px; font-size: 41px; width: 280px; height: 40px;">שווי רכב</div>
    <div id="untitled_second" style="top: 2103px; right: 470px; font-size: 41px; width: 400px; height: 40px;">קבוע</div>
    <div id="kamut_second" style="top: 2103px; right: 1060px; font-size: 41px; width: 200px; height: 40px;">1.00</div>
    <div id="sum_tkina_second" style="top: 2103px; right: 1275px; font-size: 41px; width: 200px; height: 40px;">123456</div>
    <div id="semel_third" style="top: 2142px; right: 91px; font-size: 41px; width: 120px; height: 40px;">150</div>
    <div id="description_third" style="top: 2142px; right: 170px; font-size: 41px; width: 280px; height: 40px;">שווי רכב</div>
    <div id="untitled_third" style="top: 2142px; right: 470px; font-size: 41px; width: 400px; height: 40px;">קבוע</div>
    <div id="kamut_third" style="top: 2142px; right: 1060px; font-size: 41px; width: 200px; height: 40px;">1.00</div>
    <div id="sum_tkina_third" style="top: 2142px; right: 1275px; font-size: 41px; width: 200px; height: 40px;">123456</div>
    <div style="top: 2188px; right: 485px; font-size: 41px; font-weight: 900; width: 500px; height: 40px;">סה"כ זקיפות שכר</div>
    <div id="total_sum_zkifut" style="top: 2188px; right: 1275px; font-size: 41px; width: 200px; height: 40px;">123456</div>
    <div id="total_sum_tashlumim" class="hidebg" style="top: 2241px; right: 1492px; font-size: 41px; width: 200px; height: 40px;">1234</div>

    <div id="markiv_sahar_base_salary" class="hidebg" style="top: 1086px; right: 2219px; font-size: 41px; width: 160px; height: 40px">123</div>
    <div id="markiv_sahar_total" class="hidebg" style="top: 1143px; right: 2219px; font-size: 41px; width: 160px; height: 40px">123</div>

    <div id="rate_description_first_line" class="hidebg" style="top: 1358px; right: 1772px; font-size: 41px; width: 200px; height: 40px;">משכורת</div>
    <div id="rate_sum_first_line" class="hidebg" style="top: 1358px; right: 2212px; font-size: 41px; width: 170px; height: 40px;">123</div>
    <div id="rate_description_second_line" class="hidebg-gray" style="top: 1400px; right: 1772px; font-size: 41px; width: 200px; height: 40px;">שעה</div>
    <div id="rate_sum_second_line" class="hidebg-gray" style="top: 1400px; right: 2212px; font-size: 41px; width: 170px; height: 40px;">123</div>

    <div id="income_tax" class="hidebg" style="top: 2490px; right: 91px; font-size: 41px; width: 200px; height: 40px;">123</div>
    <div id="bituah_leumi" class="hidebg" style="top: 2490px; right: 333px; font-size: 41px; width: 170px; height: 40px;">123</div>
    <div id="hefresh_bituah_leumi" style="top: 2490px; right: 535px; font-size: 41px; width: 170px; height: 40px;">123</div>
    <div id="bituah_briut" class="hidebg" style="top: 2487px; right: 736px; font-size: 41px; width: 170px; height: 40px;">123</div>
    <div id="hefresh_bituah_briut" style="top: 2490px; right: 945px; font-size: 41px; width: 170px; height: 40px;">123</div>
    <div id="total_nikuy_hova" class="hidebg" style="top: 2490px; right: 1489px; font-size: 41px; width: 170px; height: 40px;">123</div>

    <div style="top: 2730px; right: 91px; font-size: 41px; font-weight: 900; width: 500px; height: 40px;">קופות גמל בהסכם</div>

    <style>
        #nikuy_hafrasha_kupot_gemel table { width: 100%; table-layout: fixed; }
        #nikuy_hafrasha_kupot_gemel td { font-size: 41px; }
        #nikuy_hafrasha_kupot_gemel tr { height: 41px; }
        #nikuy_hafrasha_kupot_gemel tr td:nth-child(1) { width: 54px; }
        #nikuy_hafrasha_kupot_gemel tr td:nth-child(2) { width: 320px; text-align: right; }
        #nikuy_hafrasha_kupot_gemel tr td:nth-child(3) { width: 660px; text-align: right; }
        #nikuy_hafrasha_kupot_gemel tr td:nth-child(4) { width: 230px; text-align: right; direction: ltr; }
        #nikuy_hafrasha_kupot_gemel tr td:nth-child(5) { width: 200px; text-align: right; direction: ltr; }
        #nikuy_hafrasha_kupot_gemel tr td:nth-child(6) { width: 100%; text-align: right; direction: ltr; }
    </style>

    <div id="nikuy_hafrasha_kupot_gemel" style="top: 2774px; right: 91px; width: 1640px; height: 286px;">
    <table>
        <tbody>
        {% for _ in range(7) %}
        <tr>
            <td>104</td>
            <td>מנורה מבט פנסיה</td>
            <td>קצבה שכיר-תג</td>
            <td>-123</td>
            <td>-123</td>
            <td>-123</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div id="total_nikuy_hafrasha_maasik" class="hidebg" style="top: 3110px; right: 1357px; font-size: 41px; width: 150px; height: 50px;">123</div>
    <div id="total_sum_nikuy" class="hidebg" style="top: 3110px; right: 1550px; font-size: 41px; width: 150px; height: 50px;">123</div>

    <div style="top: 1573px; right: 1775px; font-size: 41px; font-weight: 900; width: 500px; height: 40px">נתונים אישיים</div>

    <style>
        #netunim_nosafim_private table { width: 100%; table-layout: fixed; }
        #netunim_nosafim_private td { font-size: 41px; }
        #netunim_nosafim_private tr { height: 42px; }
        #netunim_nosafim_private table tr td:nth-child(1) { width: 316px; }
        #netunim_nosafim_private table tr td:nth-child(2) { width: 100%; }
    </style>

    <div id="netunim_nosafim_private" style="top: 1616px; right: 1775px; font-size: 41px; width: 610px; height: 290px;">
        <table>
            <tbody>
            <tr>
                <td>מספר זהות</td>
                <td>123456789</td>
            </tr>
            <tr>
                <td>מצב משפחתי</td>
                <td>רווק</td>
            </tr>
            <tr>
                <td>ילדים עד גיל 19</td>
                <td>0</td>
            </tr>
            <tr>
                <td>ביטוח לאומי</td>
                <td>רגיל</td>
            </tr>
            <tr>
                <td>מס הכנסה</td>
                <td>מס חודשי מצטבר</td>
            </tr>
            <tr>
                <td>ארגוני עובדים</td>
                <td>הסתדרות כללית</td>
            </tr>
            <tr>
                <td>קופת חולים</td>
                <td>מאוחדת</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="top: 1908px; right: 1775px; font-size: 41px; font-weight: 900; width: 500px; height: 40px">נתוני העסקה</div>

    <style>
        #netunim_nosafim_employment table { width: 100%; table-layout: fixed; }
        #netunim_nosafim_employment td { font-size: 41px; }
        #netunim_nosafim_employment tr { height: 42px; }
        #netunim_nosafim_employment table tr td:nth-child(1) { width: 316px; }
        #netunim_nosafim_employment table tr td:nth-child(2) { width: 100%; }
    </style>

    <div id="netunim_nosafim_employment" style="top: 1947px; right: 1775px; font-size: 41px; width: 610px; height: 208px;">
        <table>
            <tbody>
            <tr>
                <td>התחלת עבודה</td>
                <td>1/1/24</td>
            </tr>
            <tr>
                <td>הסכם</td>
                <td>חודשי</td>
            </tr>
            <tr>
                <td>אחוז משרה</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>שעות עבודה</td>
                <td>1.5 שע. שבועי 20</td>
            </tr>
            <tr>
                <td>בסיס משרה</td>
                <td>5.5 שעות שבועי</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="top: 2153px; right: 1775px; font-size: 41px; font-weight: 900; width: 500px; height: 40px">נתונם חודשיים</div>

    <style>
        #netunim_nosafim_monthly table { width: 100%; table-layout: fixed; }
        #netunim_nosafim_monthly td { font-size: 41px; }
        #netunim_nosafim_monthly tr { height: 43px; }
        #netunim_nosafim_monthly table tr td:nth-child(1) { width: 316px; }
        #netunim_nosafim_monthly table tr td:nth-child(2) { width: 100%; }
    </style>

    <div id="netunim_nosafim_monthly" style="top: 2190px; right: 1775px; font-size: 41px; width: 610px; height: 298px">
        <table>
            <tbody>
            <tr>
                <td>ברוטו למס הכנסה</td>
                <td>99999</td>
            </tr>
            <tr>
                <td>ית.זכאות ל-47</td>
                <td>99999</td>
            </tr>
            <tr>
                <td>אחוז מס שולי</td>
                <td>45</td>
            </tr>
            <tr>
                <td>נקודות זיכוי</td>
                <td>2.25</td>
            </tr>
            <tr>
                <td>ברוטו לביטוח לאומי</td>
                <td>99999</td>
            </tr>
            <tr>
                <td>הפ.ביטוח לאומי</td>
                <td>99999</td>
            </tr>
            <tr>
                <td>יתרת זכאות ל-47א</td>
                <td>99999</td>
            </tr>
            </tbody>
        </table>
    </div>

    <style>
        #agregate_sums_tax_year table { width: 100%; table-layout: fixed; }
        #agregate_sums_tax_year td { font-size: 41px; }
        #agregate_sums_tax_year tr { height: 41px; }
        #agregate_sums_tax_year table tr td:nth-child(1) { width: 380px; }
        #agregate_sums_tax_year table tr td:nth-child(2) { width: 100%; }
    </style>

    <div id="agregate_sums_tax_year" style="top: 2624px; right: 1775px; font-size: 41px; width: 610px; height: 610px;">
        <table>
            <tbody>
            <tr>
                <td>ברוטו רגיל</td>
                <td>999999.99</td>
            </tr>
            <tr>
                <td>ברוטו לא קבוע</td>
                <td>4654</td>
            </tr>
            <tr>
                <td>ברוטו שנים קודמות</td>
                <td>4556</td>
            </tr>
            <tr>
                <td>שווי מס</td>
                <td>545</td>
            </tr>
            <tr>
                <td>נטו לגילום</td>
                <td>282</td>
            </tr>
            <tr>
                <td>גילום מס</td>
                <td>5454</td>
            </tr>
            <tr>
                <td>גילום ב.ל.</td>
                <td>541</td>
            </tr>
            <tr>
                <td>מס רגיל</td>
                <td>123</td>
            </tr>
            <tr>
                <td>מס על ברוטו לא קבוע</td>
                <td>545</td>
            </tr>
            <tr>
                <td>מס שנים קודמות</td>
                <td>8420</td>
            </tr>
            <tr>
                <td>הכנסה לא מבוטחת</td>
                <td>4654</td>
            </tr>
            <tr>
                <td>ניכוי לסעיף 45א 35%</td>
                <td>654</td>
            </tr>
            <tr>
                <td>ערך נקודות זיכוי</td>
                <td>200</td>
            </tr>
            <tr>
                <td>הכנסה חייבת במס</td>
                <td>540</td>
            </tr>
            <tr>
                <td>שכר חייב ב.ל.</td>
                <td>6546</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
