{% extends '_base.jinja.html' %}
{% block style %}
    {{ super() }}
    body {
        font-family: tahoma;
        font-size: 30px;
    }
    div {
        position: absolute;
        overflow:hidden;
    }
    .hidebg {
        background-color: white;
    }
    .gradient-backgrounds {
        position: unset;
    }
    .gradient-backgrounds div {
        opacity: 1;
    }
    p {
        font-family: 'Courier New';
        font-size: 43px;
        transform: scalex(0.7);
        transform-origin: right;
        display: inline-block;
        line-height: 41px;
        font-weight: bold;
        color: #37474e;
        width: max-content;
    }
{% endblock %}
{% block body %}
<div style="background-image: url('moon.png'); width: 2705px; height: 3600px;">
    <div class="gradient-backgrounds">
        <div style="width: 835px;height: 3156px;right: 65px;top: 162px;background-image: url('moon_personal_details_gradient.png');"></div>
        <div style="width: 145px;height: 1201px;right: 2372px;top: 626px;background-image: url('moon_left_gradient.png');"></div>
        <div style="width: 1365px;height: 96px;right: 945px;top: 1872px;background-image: url('moon_netuney_mas_miztabrim_gradient.png');"></div>
        <div style="width: 1385px;height: 141px;right: 948px;top: 1042px;background-image: url('moon_nikuy_hova_gradient.png');"></div>
        <div style="width: 1395px;height: 134px;right: 935px;top: 1388px;background-image: url('moon_nikuy_mutavim_gradient.png');"></div>
    </div>
    <div style="top: 162px; right: 80px; width: 828px; height: 200px;">
        <div id="full_name" style="top: 20px; right: 10px;"><p>ד"ר גבי גזית</p></div>
        <div style="top: 20px; right: 438px;"><p>מספר זהות:</p></div>
        <div id="personal_id" style="top: 20px; right: 632px;"><p>123456789</p></div>
        <div style="top: 59px; right: 419px;"><p>משרה נוספת: 1</p></div>
    </div>
    <div style="top: 177px; right: 1113px; width: 300px; height: 50px; background-color: #D7EDF8;"><p id="month_year">אוגוסט 2020</p></div>
    <div style="top: 173px; right: 2274px; width: 135px; height: 50px; background-color: #D7EDF8;"><p id="tlush">בדיקה</p></div>
    <div style="top: 294px;right: 80px;width: 828px;height: 420px;"><p>
        משרד :
        <span id="personal_details_office">025</span>
        <br>
        <br>
        כתובת:
        <span id="personal_details_address">אאאאא 46 רמתת גן 000700</span>
        <br>
        מצב משפחתי:
        &nbsp;
        <span id="personal_details_marital_status">רווקה</span>
        <br>
        %מס שולי :
        &nbsp;
        <span id="personal_details_tax_percentage" style="direction: ltr;">19.00</span>
        <br>
        תפוצה:
        <span id="personal_details_distribution">16</span>
        &nbsp;&nbsp;
        <span id="personal_details_distribution_name">תולדות ישראל</span>
        <br>
        מעמד:
        <span id="personal_details_status">עובד</span>
        <br>
        קוד ב.לאומי:
        <span id="personal_details_blcode">9</span>
        <br>
        בנק:
        <span id="personal_details_bank">12 - הפועלים</span>
        <br>
        סניף:
        <span id="personal_details_branch">700 - סניף נווה חמציצים מערב החדש</span>
    </p></div>
    <div style="top: 294px;right: 434px;width: 474px;height: 80px;"><p>
        אוניברסיטת נווח חמציצים מערב החדש מאודואודואוד!
    </p></div>
    <div style="top: 620px;right: 596px;width: 312px;height: 42px;"><p>
        חשבון: 1234567
    </p></div>
    <div style="top: 742px;right: 300px;width: 500px;height: 42px;">
        <p style="font-size: 67px;">- נתוני עזר -</p>
    </div>
    <div style="top: 814px; right: 66px; width: 870px; height: 500px;">
        <p>מ.נ._דרוג__דרגת__חלקיות_וותק___ע.ש.___משולב___</p>
        <p style="padding-right: 30px;">3   178   178001  40.00   27.00</p>
        <p style="padding-right: 30px;">4   140   140010</p>
    </div>
    <div style="top: 980px; right: 86px; width: 870px; height: 670px;">
        <p>247<br>437<br>0008<br>0001<br>0103<br>0271<br>0141<br>0147<br>0021<br>0080<br>0473<br>1811<br>1812<br>0452</p>
        <p>מגדל קה"ש<br>איילון מיטב<br>הפרשת מס שכר<br>הפרשה ב. לאומי<br>תאריך לידה<br>סגל אקדמי<br>בר.ב"ל עד תקרה<br>ת. כניסה לשרות<br>ברוטו ב. לאומי<br>זק.הפ.קה"שת<br>עבודה חלקית<br>- ברוטו קה"שת<br>- ברוטו פנסיה<br> - תאום מס שנתי:</p>
        <p style="position: absolute; top: 4px; right: 416px;">385.01<br>786.95<br>385.01<br>182.00<br>08/01/01<br>1.00<br>5133.43<br>25/02/01<br>5133.43<br>0.00<br><br>5133.43<br>5133.43</p>
        <p style="position: absolute; top: 4px; right: 660px;">7.50<br>15.33</p>
        <p style="position: absolute; top: 372px; right: 603px;">שנתי:01 0<br>01/20<br>08/20 08/20<br>08/20 08/20</p>
        <p style="position: absolute; top: 532px; right: 404px;"><span>אחוז-עד תקרה</span><span>אחוז מעל</span></p>
        <p style="position: absolute; top: 580px; right: 123px;">01/20</p>
        <p style="position: absolute; top: 580px; right: 274px;">12/20</p>
        <p style="position: absolute; top: 580px; right: 405px;">19.00</p>
        <p style="position: absolute; top: 580px; right: 534px;">46750.00</p>
        <p style="position: absolute; top: 580px; right: 683px;">35.00</p>
    </div>
            <style>
        #nikuy_mutavim_table div {position: unset;direction: ltr;text-align:right;width: max-content;}
        #nikuy_mutavim_table table {border-collapse: collapse;table-layout: fixed;width: 100%;}
        #nikuy_mutavim_table td {height: 44px;}
        #nikuy_mutavim_table tr td:nth-child(6) div, #nikuy_mutavim_table tr td:nth-child(7) div {direction:rtl;}
        #nikuy_mutavim_table tr td:nth-child(1) {width: 156px;}
        #nikuy_mutavim_table tr td:nth-child(1) div {padding-right: 15px;}
        #nikuy_mutavim_table tr td:nth-child(2) {width: 264px;}
        #nikuy_mutavim_table tr td:nth-child(2) div {padding-right: 20px;margin-top: -2px;}
        #nikuy_mutavim_table tr td:nth-child(3) {width: 228px;}
        #nikuy_mutavim_table tr td:nth-child(3) div {padding-right: 3px;}
        #nikuy_mutavim_table tr td:nth-child(4) {width: 157px;}
        #nikuy_mutavim_table tr td:nth-child(4) div {padding-right: 6px;}
        #nikuy_mutavim_table tr td:nth-child(5) {width: 181px;}
        #nikuy_mutavim_table tr td:nth-child(5) div {padding-right: 0;}
        #nikuy_mutavim_table tr td:nth-child(6) {width: 123px;}
        #nikuy_mutavim_table tr td:nth-child(6) div {padding-right: 6px;}
        #nikuy_mutavim_table tr td:nth-child(7) {width: 128px;}
        #nikuy_mutavim_table tr td:nth-child(7) div {padding-right:5px;}
        #nikuy_mutavim_table tr td:nth-child(8) {width: 100%;}
        #nikuy_mutavim_table tr td:nth-child(8) div {padding-right:5px;}
    </style>
    <div id="nikuy_mutavim_table" style="width: 1421px;height: 132px;right: 934px;top: 1390px;">
        <table>
            <tbody><tr>
                <td><div><p>7-006701</p></div></td>
                <td><div><p>ועד סגל זוטר</p></div></td>
                <td><div><p>4390954</p></div></td>
                <td><div><p>0.90</p></div></td>
                <td><div><p>-12,345.00</p></div></td>
                <td><div><p>08/20</p></div></td>
                <td><div><p>08/20</p></div></td>
                <td><div><p>46.20</p></div></td>
            </tr>
            <tr>
                <td><div><p>8-024701</p></div></td>
                <td><div><p>מגדל קה"ש</p></div></td>
                <td><div><p>4390954</p></div></td>
                <td><div><p>2.50</p></div></td>
                <td><div><p>-12,345.00</p></div></td>
                <td><div><p>08/20</p></div></td>
                <td><div><p>08/20</p></div></td>
                <td><div><p>128.34</p></div></td>
            </tr>
            <tr>
                <td><div><p>7-043701</p></div></td>
                <td><div><p>איילון מיטב</p></div></td>
                <td><div><p></p></div></td>
                <td><div><p>6.50</p></div></td>
                <td><div><p>-12,345.00</p></div></td>
                <td><div><p>08/20</p></div></td>
                <td><div><p>08/20</p></div></td>
                <td><div><p>333.67</p></div></td>
            </tr>
        </tbody></table>
    </div>

        <style>
        #nikuy_hova_table div {position: unset;direction: ltr;text-align:right;width: max-content;}
        #nikuy_hova_table table {border-collapse: collapse;table-layout: fixed;width: 100%;}
        #nikuy_hova_table td {height: 44px;}
        #nikuy_hova_table tr td:nth-child(2) div, #nikuy_mutavim_table tr td:nth-child(4) div {direction:ltr;}
        #nikuy_hova_table tr td:nth-child(1) {width: 270px;}
        #nikuy_hova_table tr td:nth-child(1) div {padding-right: 15px;}
        #nikuy_hova_table tr td:nth-child(2) {width: 808px;}
        #nikuy_hova_table tr td:nth-child(2) div {padding-right: 20px;margin-top: -2px;}
        #nikuy_hova_table tr td:nth-child(3) {width: 156px;}
        #nikuy_hova_table tr td:nth-child(3) div {padding-right: 3px;}
        #nikuy_hova_table tr td:nth-child(4) {width: 100%;}
        #nikuy_hova_table tr td:nth-child(4) div {padding-right: 6px;}
    </style>
    <div id="nikuy_hova_table" style="width: 1421px;height: 132px;right: 934px;top: 1050px;">
        <table>
            <tbody><tr>
                <td><div><p>מס הכנסה</p></div></td>
                <td><div><p>975.00</p></div></td>
                <td><div><p>סה"כ</p></div></td>
                <td><div><p>975.00</p></div></td>
            </tr>
            <tr>
                <td><div><p>ביטוח לאומי</p></div></td>
                <td><div><p>359.00</p></div></td>
                <td><div><p>סה"כ</p></div></td>
                <td><div><p>359.00</p></div></td>
            </tr>
            <tr>
                <td><div><p>ביטוח בריאות</p></div></td>
                <td><div><p>257.00</p></div></td>
                <td><div><p>סה"כ</p></div></td>
                <td><div><p>257.00</p></div></td>
            </tr>
        </tbody></table>
    </div>
    <div style="top: 664px; right: 2370px; width: 200px; height: 47px;"><p>5133.00</p></div>
    <div style="top: 744px; right: 2370px; width: 200px; height: 47px;"><p>5133.00</p></div>
    <div style="top: 866px; right: 2370px; width: 200px; height: 47px;"><p id="bruto_shotef">5133.00</p></div>
    <div style="top: 1189px; right: 2370px; width: 180px; height: 47px:"><p id="total_nikuy_hova">1591.00</p></div>
    <div style="top: 1512px; right: 2370px; width: 180px; height: 47px;"><p id="sum_nikuy_mutav">508.21</p></div>
    <div style="top: 1595px; right: 2370px; width: 180px; height: 47px;"><p id="total_nikuy_mutav">2099.21</p></div>
    <div style="top: 1713px; right: 2370px; width: 180px; height: 47px;"><p id="total_bank_shekel">3034.22</p></div>

    <style>
        #aggregate_tax_table div {position: unset; width: max-content;}
        #aggregate_tax_table table {border-collapse; collapse; table-layout: fixed; width 100%;}
        #aggregate_tax_table td {height: 44px;}
        #aggregate_tax_table tr td:nth-child(1) {width: 230px;}
        #aggregate_tax_table tr td:nth-child(2) {width: 230px;}
        #aggregate_tax_table tr td:nth-child(3) {width: 230px;}
        #aggregate_tax_table tr td:nth-child(4) {width: 230px;}
        #aggregate_tax_table tr td:nth-child(5) {width: 100%;}
    </style>

    <div id="aggregate_tax_table" style="top: 1888px; right: 968px; width: 1360px; height: 300px;">
        <table>
            <tbody>
            <tr>
                <td><div><p>ברוטו ק.השתלמות</p></div></td>
                <td><div><p>30417.82</p></div></td>
                <td><div><p>ברוטו מבוטח</p></div></td>
                <td><div><p>30417.82</p></div></td>
                <td><div><p>מגמולים הפרשה</p></div></td>
            </tr>
            <tr>
                <td><div><p>ק.השתלמות הפרשה</p></div></td>
                <td><div><p>2281.35</p></div></td>
                <td><div><p>הפ.פנס מקיפה</p></div></td>
                <td><div><p>2129.25</p></div></td>
                <td><div><p>ב.מנהלים הפרשה</p></div></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="top: 2761px; right: 248px"><p>סכומים מצטברים שנתיים</p></div>

    <style>
        #work_months_table div {position: unset;width: max-content;}
        #work_months_table table {border-collapse: collapse;table-layout: fixed;width: 100%;}
        #work_months_table td {height: 44px;}
        #work_months_table tr td:nth-child(1) {width: 230px;}
        #work_months_table tr td:nth-child(2) {width: 50px; direction: ltr;}
        #work_months_table tr td:nth-child(3) {width: 50px; direction: ltr;}
        #work_months_table tr td:nth-child(4) {width: 50px; direction: ltr;}
        #work_months_table tr td:nth-child(5) {width: 50px; direction: ltr;}
        #work_months_table tr td:nth-child(6) {width: 50px; direction: ltr;}
        #work_months_table tr td:nth-child(7) {width: 50px; direction: ltr;}
        #work_months_table tr td:nth-child(8) {width: 50px; direction: ltr;}
        #work_months_table tr td:nth-child(9) {width: 50px; direction: ltr;}
        #work_months_table tr td:nth-child(10) {width: 50px; direction: ltr;}
        #work_months_table tr td:nth-child(11) {width: 50px; direction: ltr;}
        #work_months_table tr td:nth-child(12) {width: 50px; direction: ltr;}
        #work_months_table tr td:nth-child(13) {width: 50px; direction: ltr;}
        #work_months_table tr(1) td:nth-child(13) p {padding-left: 5px;}
    </style>
    <div id="work_months_table" style="width: 815px; height: 85px; top: 2850px; right: 80px;">
        <table>
            <tbody>
            <tr>
                <td><div><p>חודשי עבודה</p></div></td>
                <td><div><p>12</p></div></td>
                <td><div><p>11</p></div></td>
                <td><div><p>10</p></div></td>
                <td><div><p>9</p></div></td>
                <td><div><p>8</p></div></td>
                <td><div><p>7</p></div></td>
                <td><div><p>6</p></div></td>
                <td><div><p>5</p></div></td>
                <td><div><p>4</p></div></td>
                <td><div><p>3</p></div></td>
                <td><div><p>2</p></div></td>
                <td><div><p>1</p></div></td>
            </tr>
            <tr>
                <td><div><p>יחידות מס</p></div></td>
                <td><div><p>25</p></div></td>
                <td><div><p>25</p></div></td>
                <td><div><p>25</p></div></td>
                <td><div><p>25</p></div></td>
                <td><div><p>25</p></div></td>
                <td><div><p>25</p></div></td>
                <td><div><p>25</p></div></td>
                <td><div><p>25</p></div></td>
                <td><div><p>25</p></div></td>
                <td><div><p>25</p></div></td>
                <td><div><p>25</p></div></td>
                <td><div><p>25</p></div></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="top:2929px; right: 80px; width: 815px;">
        <p>
            תיק ניכויים מס הכנסה:
            <span id="tik_nikuyim" style="width: 233px; height: 47px; display: inline-block;">910007566</span>
            ב.ל
            <span id="bituah_leumi" style="width: 233px; height: 47px; display: inline-block;">910007566</span>
        </p>
    </div>
    <div style="top: 2971px; right: 80px; width: 815px;">
        <p>
            חלק החודש-שוטף 1.00
            <span style="padding-right: 125px;">ניכוי ב.ל <span id="nikuy_bituah_leumi">2128.00</span></span>
        </p>
    </div>
    <div style="top: 3013px; right: 80px; width: 815px;">
        <p>
            ברוטו למס
            <span id="bruto_mas" style="width: 150px; height: 47px; display: inline-block">30417.84</span>
            ניכוי ב.ב
            <span id="nikuy_bb">1522.00</span>
        </p>
    </div>
    <div style="top: 3056px; right: 80px; width: 815px;">
        <p>
            מס הכנסה
            <span id="mas_hahnasa" style="padding-right: 57px;">5779.00</span>
        </p>
    </div>
    <div style="top: 3100px; right: 80px; width: 815px;">
        <p>
            לא לפנסיה
            <span style="padding-right: 25px;">0.02</span>
        </p>
    </div>
    <div style="top: 3145px; right: 80px; width: 815px;">
        <p>
            סע'45 35%
            <span id="seif_45" style="padding-right: 21px;">1977.15</span>
        </p>
    </div>
    <div style="top: 3190px; right: 80px; width: 815px;">
        <p>
            תש. שנתיים
            <span id="tashlumim_shnatiim">776.42</span>
        </p>
    </div>
    <div style="top: 3230px; right: 80px; width: 815px;">
        <p>
            ברוטו ב.ל
            <span id="bruto_bl" style="padding-right: 21px;">30417.84</span>
        </p>
    </div>
    <div style="top: 3270px; right: 80px; width: 815px;">
        <p>
            הפרשה ב.ל
            <span id="hafrasha_bl" style="padding-right: 19px;">1079.00</span>
        </p>
    </div>
    <div style="top: 3434px; right: 85px; width: 156px; height: 50px; background-color: #C6E6F3;"><p id="yesod_meshulav">3639.57</p></div>
    <div style="top: 3434px; right: 277px; width: 156px; height: 50px; background-color: #C6E6F3;"><p id="tosefet">1493.86</p></div>
    <div style="top: 3434px; right: 465px; width: 156px; height: 50px; background-color: #C6E6F3;"><p id="extra_work">10</p></div>
    <div style="top: 3434px; right: 655px; width: 156px; height: 50px; background-color: #C6E6F3;"><p id="reimbursment">10</p></div>
    <div style="top: 3434px; right: 845px; width: 156px; height: 50px; background-color: #C6E6F3;"><p id="other_tashlumim">10</p></div>
    <div style="top: 3434px; right: 1035px; width: 152px; height: 50px; background-color: #C6E6F3;"><p id="bruto_shotef_down">5133.43</p></div>
    <div style="top: 3434px; right: 1225px; width: 151px; height: 50px; background-color: #C6E6F3;"><p id="hefreshim">10</p></div>
    <div style="top: 3434px; right: 1409px; width: 162px; height: 50px; background-color: #C6E6F3;"><p id="total_tashlumim_down">5133.43</p></div>
    <div style="top: 3434px; right: 1601px; width: 158px; height: 50px; background-color: #C6E6F3;"><p id="nikuyey_hova">1591.00</p></div>
    <div style="top: 3434px; right: 1790px; width: 164px; height: 50px; background-color: #C6E6F3;"><p id="sachar_neto">3542.43</p></div>
    <div style="top: 3434px; right: 1985px; width: 156px; height: 50px; background-color: #C6E6F3;"><p id="nekuyey_reshut">10</p></div>
    <div style="top: 3434px; right: 2175px; width: 180px; height: 50px; background-color: #C6E6F3;"><p id="nikuy_mos">508.21</p></div>
    <div style="top: 3434px; right: 2365px; width: 194px; height: 50px; background-color: white;"><p id="schum_babank">3054.22</p></div>
</div>
{% endblock %}
