{% extends '_base.jinja.html' %}
{% block style %}
    {{ super() }}
    body {
        font-family: 'klr';
        font-size: 32px;
    }
    div {
        position: absolute;
        overflow: hidden;
    }
    .hidebg {
        background-color: white;
    }
{% endblock %}
{% block body %}
<div class="david" style="background-image: url('sun.png'); width: 2178px; height: 2922px;">
    <div id="teudat_zehut" style="width: 200px;height: 200px;top:462px;right:1090px;text-align:center;">012345678</div>
    <div id="darga" style="width: 200px;height: 200px;top:462px;right:1281px;text-align:center;">רס"ר</div>
    <div id="tom_sherut_date" style="width: 200px;height: 200px;top:462px;right: 1495px;text-align:center;">28/12/2028</div>
    <div id="marital_status" style="width: 200px;height: 200px;top:462px;right: 1735px;text-align:center;">נשואה</div>
    <div id="tik_nikuim" style="width: 200px;height: 200px;top: 580px;right: 1758px;text-align:center;">5789655447</div>
    <div id="salary_date" style="width: 167px;height: 48px;top: 604px;right: 903px;text-align:center;font-weight: bold;direction: ltr;background-color: white;">9 / 2013</div>
    <div id="bank" style="width: 326px;height: 48px;top: 723px;right: 261px;text-align:center;">12 - בנק הפועלים</div>
    <div id="bank_branch_code" style="width: 96px;height: 48px;top: 723px;right: 581px;text-align:center;">789</div>
    <div id="bank_branch_name" style="width: 256px;height: 48px;top: 723px;right: 670px;text-align:center;">נווה חמציצים מרכז</div>
    <div id="bank_account_number" style="width: 193px;height: 48px;top: 723px;right: 908px;text-align:center;">1234567</div>
    <div id="hahnasa_shnatit_lamas" style="width: 206px;height: 48px;top: 723px;right: 1120px;text-align:center;direction:ltr;">123,456.99</div>
    <div id="hahnasa_zkufa" style="width: 195px;height: 48px;top: 723px;right: 1328px;text-align:center;direction:ltr;">123,456.99</div>
    <div id="hahnasot_lo_socialiot" style="width: 219px;height: 48px;top: 723px;right: 1524px;text-align:center;direction:ltr;">123,456.99</div>
    <div id="hahnasot_had_peamiot" style="width: 206px;height: 48px;top: 723px;right: 1743px;text-align:center;direction:ltr;">123,456.99</div>
    <div id="zikui_shnati_bemas" style="width: 206px;height: 48px;top: 821px;right: 1120px;text-align:center;direction:ltr;">123,456.99</div>
    <div id="ptor_shnati_bemas" style="width: 195px;height: 48px;top: 821px;right: 1328px;text-align:center;direction:ltr;">123,456.99</div>
    <div id="mas_hahnasa" style="width: 219px;height: 48px;top: 821px;right: 1524px;text-align:center;direction:ltr;">123,456.99</div>
    <div id="ahuz_mas_shuli" style="width: 206px;height: 48px;top: 821px;right: 1743px;text-align:center;direction:ltr;">123,456.99</div>
    <div id="zakaut_shnatit" style="width: 155px;height: 48px;top: 860px;right: 270px;text-align:center;direction:ltr;">0000</div>
    <div id="nizul" style="width: 126px;height: 48px;top: 860px;right: 427px;text-align:center;direction:ltr;">0000</div>
    <div id="yitra_lenizul" style="width: 131px;height: 48px;top: 860px;right: 556px;text-align:center;direction:ltr;">0000</div>
    <div id="yemei_hufsha_zvura" style="width: 188px;height: 48px;top: 860px;right: 693px;text-align:center;direction:ltr;">0000</div>
    <div id="ereh_yom_zvura_bruto" style="width: 205px;height: 48px;top: 860px;right: 887px;text-align:center;direction:ltr;">0000</div>
    <div style="background: url('sun_netunim_golmyim_table_bg.png');width: 824px;height: 839px;top: 940px;right: 273px;"></div>
    <style>
        #netunim_golmyim_table div {position: unset;direction: ltr;text-align:right;font-size:29px;height: 33px;}
        #netunim_golmyim_table tr:nth-child(3) div {height: 31px;}
        #netunim_golmyim_table tr:nth-child(6) div {height: 31px;}
        #netunim_golmyim_table tr:nth-child(9) div {height: 31px;}
        #netunim_golmyim_table tr:nth-child(12) div {height: 31px;}
        #netunim_golmyim_table tr:nth-child(15) div {height: 31px;}
        #netunim_golmyim_table tr:nth-child(18) div {height: 31px;}
        #netunim_golmyim_table tr:nth-child(21) div {height: 31px;}
        #netunim_golmyim_table table {border-collapse: collapse;table-layout: fixed;width: 100%;}
        #netunim_golmyim_table td {}
        #netunim_golmyim_table tr td:nth-child(1) {width: 321px;text-decoration: underline;color: #2324fd;}
        #netunim_golmyim_table tr td:nth-child(1) div {padding-right: 4px;}
        #netunim_golmyim_table tr td:nth-child(2) {width: 314px;}
        #netunim_golmyim_table tr td:nth-child(2) div {padding-right: 20px;}
        #netunim_golmyim_table tr td:nth-child(3) {width: 100%;}
        #netunim_golmyim_table tr td:nth-child(3) div {padding-right: 21px;}
    </style>
    <div id="netunim_golmyim_table" style="width: 771px;height: 799px;right: 319px;top: 975px;">
        <table>
            <tbody><tr>
                <td><div>אוכלוסיה</div></td>
                <td><div>קבע</div></td>
                <td><div>170812</div></td>
            </tr><tr>
                <td><div>אחוז תמריץ</div></td>
                <td><div>8</div></td>
                <td><div>060113</div></td>
            </tr><tr>
                <td><div>דרגת שכר</div></td>
                <td><div>8</div></td>
                <td><div>060113</div></td>
            </tr>
            {% for i in range(21) %}
            <tr>
                <td><div>דרגת שכר</div></td>
                <td><div>5,118.91</div></td>
                <td><div>060113</div></td>
            </tr>
            {% endfor %}
        </tbody></table>
    </div>
    <div style="background: url('sun_tashlumim_table_bg.png');width: 780px;height: 438px;top: 1824px;right: 310px;"></div>
    <style>
        #tashlumim_table div {position: unset;direction: ltr;text-align:right;font-size:29px;height: 33px;}
        #tashlumim_table tr:nth-child(3) div {height: 31px;}
        #tashlumim_table tr:nth-child(6) div {height: 31px;}
        #tashlumim_table tr:nth-child(9) div {height: 31px;}
        #tashlumim_table tr:nth-child(12) div {height: 31px;}
        #tashlumim_table tr:nth-child(15) div {height: 31px;}
        #tashlumim_table tr:nth-child(18) div {height: 31px;}
        #tashlumim_table tr:nth-child(21) div {height: 31px;}
        #tashlumim_table table {border-collapse: collapse;table-layout: fixed;width: 100%;}
        #tashlumim_table td {}
        #tashlumim_table tr td:nth-child(1) {width: 391px;text-decoration: underline;color: #2324fd;}
        #tashlumim_table tr td:nth-child(1) div {padding-right: 4px;}
        #tashlumim_table tr td:nth-child(2) {width: 188px;}
        #tashlumim_table tr td:nth-child(2) div {padding-right: 20px;}
        #tashlumim_table tr td:nth-child(3) {width: 100%;}
        #tashlumim_table tr td:nth-child(3) div {padding-right: 21px;}
    </style>
    <div id="tashlumim_table" style="width: 771px;height: 799px;right: 319px;top: 1825px;">
        <table>
            <tbody><tr>
                <td><div>שכר משולב</div></td>
                <td><div></div></td>
                <td><div>1368.94</div></td>
            </tr><tr>
                <td><div>תוספת הסכם 2011</div></td>
                <td><div></div></td>
                <td><div>288.27</div></td>
            </tr><tr>
                <td><div>תוספת הסכם 2009</div></td>
                <td><div></div></td>
                <td><div>178.49</div></td>
            </tr>
            {% for i in range(18) %}
            <tr>
                <td><div>תוספת הסכם 2009</div></td>
                <td><div></div></td>
                <td><div>178.49</div></td>
            </tr>
            {% endfor %}
        </tbody></table>
    </div>
    <div style="background: url('sun_tashlumim_table_bg.png');width: 780px;height: 438px;top: 1824px;right: 1160px;"></div>
    <style>
        #nikuyim_table div {position: unset;direction: ltr;text-align:right;font-size:29px;height: 33px;}
        #nikuyim_table tr:nth-child(3) div {height: 31px;}
        #nikuyim_table tr:nth-child(6) div {height: 31px;}
        #nikuyim_table tr:nth-child(9) div {height: 31px;}
        #nikuyim_table tr:nth-child(12) div {height: 31px;}
        #nikuyim_table tr:nth-child(15) div {height: 31px;}
        #nikuyim_table tr:nth-child(18) div {height: 31px;}
        #nikuyim_table tr:nth-child(21) div {height: 31px;}
        #nikuyim_table table {border-collapse: collapse;table-layout: fixed;width: 100%;}
        #nikuyim_table td {}
        #nikuyim_table tr td:nth-child(1) {width: 390px;text-decoration: underline;color: #2324fd;}
        #nikuyim_table tr td:nth-child(1) div {padding-right: 4px;}
        #nikuyim_table tr td:nth-child(2) {width: 188px;}
        #nikuyim_table tr td:nth-child(2) div {padding-right: 20px;}
        #nikuyim_table tr td:nth-child(3) {width: 100%;}
        #nikuyim_table tr td:nth-child(3) div {padding-right: 21px;}
    </style>
    <div id="nikuyim_table" style="width: 771px;height: 799px;right: 1169px;top: 1825px;">
        <table>
            <tbody><tr>
                <td><div>בטוח לאומי</div></td>
                <td><div>17.31</div></td>
                <td><div>17.91</div></td>
            </tr><tr>
                <td><div>ביטוח בריאות ממלכתי</div></td>
                <td><div>118.75</div></td>
                <td><div>122.84</div></td>
            </tr><tr>
                <td><div>ניכוי לקרן פנסיה</div></td>
                <td><div>352.06</div></td>
                <td><div>364.20</div></td>
            </tr>
            {% for i in range(18) %}
            <tr>
                <td><div>ניכוי לקרן פנסיה</div></td>
                <td><div>352.06</div></td>
                <td><div>364.20</div></td>
            </tr>
            {% endfor %}
        </tbody></table>
    </div>
    <div id="sahah_tashlumim_shotfim" style="background:url('sun_total_white_bg.png');width:190px;height:39px;top: 2539px;right: 905px;"><div style="padding-right:11px;">5198.12</div></div>
    <div id="sahah_nikuim_shotfim" style="background:url('sun_total_white_bg.png');width:190px;height:39px;top: 2539px;right: 1754px;"><div style="padding-right:11px;">639.54</div></div>
    <div id="sahar_hodshi_neto" style="background:url('sun_total_offwhite_bg.png');width:190px;height:43px;top: 2577px;right: 1754px;"><div style="padding-right:11px;font-weight:bold;">4558.58</div></div>
</div>
{% endblock %}