{% extends '_base.jinja.html' %}
{% block style %}
    {{ super() }}
    body {
        font-family: Arial,serif;
        font-size: 42px;
    }
    div {
        position: absolute;
        overflow:hidden;
    }
    .hidebg {
        background-color: white;
    }
    .miriam {
        font-family: Miriam,serif;
        font-size: 47px;
    }
    .david {
        font-family: David,serif;
        font-size: 45px;
    }
{% endblock %}
{% block body %}
<div style="background-image: url('west.png'); width: 2479px; height: 3508px;">

</div>
{% endblock %}
