<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ILMOCKGEN{% endblock %}</title>
    <style>
        {% block style %}
        @font-face {
            font-family: 'Arial';
            src: url('/fonts/Arial.ttf');
        }
        @font-face {
            font-family: 'Arial';
            src: url('/fonts/Arial_Bold.ttf');
            font-weight: bold;
        }
        * {
            {% block style_reset %}
            margin: 0;
            padding: 0;
            border-spacing: 0;
            background-color: transparent;
            vertical-align: top;
            {% endblock %}
        }
        {% endblock %}
    </style>
</head>
<body dir="rtl">
{% block body %}
<div style="background-image: url('/israel-mock-data-generator-private-data/salaries/north_page_1.png');
            width: 2500px;
            height: 3508px;">
    <table style="padding-top:57px;height:264px;">
        <tr>
            <td style="width:528px;height:100%;"></td>
            <td style="width:997px;height:100%;line-height:50px;background-color:white;">
                <span id="topHeader_address">עירית בית שמש , יצחק רבין 2 בית שמש</span>
                <table style="margin-top:6px;">
                    <tr>
                        <td style="width:201px;">רשות: <b id="topHeader_rashut">58</b></td>
                        <td style="width:200px;">תיק ניכויים:</td>
                        <td><b id="topHeader_tikNikuim">925018491</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>ח-פ:</td>
                        <td><b id="topHeader_hetPey"></b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>תיק ב"ל:</td>
                        <td><b id="topHeader_tikBL">92501849100</b></td>
                    </tr>
                </table>
            </td>
            <td style="width:831px;height:100%;line-height:54px;background-color:white;">
                מחלקה:
                &nbsp;&nbsp;&nbsp;<b id="topHeader_mahlaka">84100 ל.רווחה מתוקצב</b>
                <br/>
                תלוש משכורת נכון לחודש:
                &nbsp;&nbsp;&nbsp;<b><u id="topHeader_month">יולי</u></b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b><u id="topHeader_year">2021</u></b>
                <br/>
                סידורי:
                <b id="topHeader_siduri">01234</b>
            </td>
        </tr>
    </table>
    <table style="margin-top:210px;height:366px;">
        <tr>
            <td style="width:511px;"></td>
            <td style="width:738px;">
                <div style="width:100%;height:360px;margin-top:12px;">
                    <table style="width:100%;height:182px;background-color:white;">
                        <tr>
                            <td style="width:75%;">
                                <div style="margin-top:5px;margin-right:5px;line-height:60px;">
                                    לכבוד:
                                    <b id="rcpt_lastFirstName">אברהם אברהמי</b>
                                    <br/>
                                    <span id="rcpt_streetAddress">האורנים 85</span>
                                    <br/>
                                    <span id="rcpt_city">בית שמש</span>
                                    <span id="rcpt_mikud">1129382</span>
                                </div>
                            </td>
                            <td style="width:25%;">
                                <div style="text-align:left;font-weight:bold;margin-top:16px;margin-left:14px;">
                                    07/2021
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div style="width:720px;height:105px;background-color:white;margin-top:70px;margin-right:7px;line-height:54px;" id="rcpt_returnAddress">
                        עירית בית שמש , יצחק רבין 2 בית שמש - יח' 84100 ל.רווחה מתוקצב
                    </div>
                </div>
            </td>
            <td style="width:601px;"></td>
            <td style="width:513px;">
                <div style="width:100%;height:311px;margin-top:74px;font-size: 36px;padding-right: 3px;">
                    <div id="rikuz_misraTashlumim" style="background-color:white;width: 200px;height: 65px;margin-right: 308px;">
                        21,045.95
                    </div>
                    <div id="rikuz_nikuim_hova" style="background-color:white;width: 200px;height: 65px;margin-right: 308px;margin-top: 26px;">
                        7,085.63
                    </div>
                    <div id="rikuz_netoPayment" style="background-color:#ccffcc;width: 200px;height: 42px;margin-right: 308px;margin-top: 107px;">
                        13,960.32
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <table style="margin-top: 224px;margin-right: 91px;font-size: 34px;">
        <tr>
            <td><div style="width:100px;height:50px;background-color:white;padding-right: 7px;" id="perutNetuneyMisra_sugHamarkiv">עבודה</div></td>
            <td><div style="width:122px;height:50px;margin-right: 7px;background-color:white;" id="perutNetuneyMisra_mahlaka">841000</div></td>
            <td><div style="width:122px;height:50px;margin-right:14px;background-color:white;" id="perutNetuneyMisra_derug">עו"ס</div></td>
            <td><div style="width: 71px;height:50px;margin-right: 26px;background-color:white;" id="perutNetuneyMisra_darga">מ.א</div></td>
            <td><div style="width: 60px;height:50px;margin-right:14px;background-color:white;" id="perutNetuneyMisra_rama">ז</div></td>
            <td><div style="width: 78px;height:50px;margin-right: 8px;background-color:white;" id="perutNetuneyMisra_shautBafoal"></div></td>
            <td><div style="width: 74px;height:50px;margin-right: 16px;background-color:white;" id="perutNetuneyMisra_basisMisra">100</div></td>
            <td><div style="width: 109px;height:50px;margin-right: 13px;background-color:white;" id="perutNetuneyMisra_empty">100.00</div></td>
            <td><div style="width:122px;height:50px;margin-right:14px;background-color:white;" id="perutNetuneyMisra_zahal">2.01</div></td>
            <td><div style="width: 119px;height:50px;margin-right:14px;background-color:white;" id="perutNetuneyMisra_mukar">19.04</div></td>
            <td><div style="width: 119px;height:50px;margin-right:14px;background-color:white;" id="perutNetuneyMisra_avoda">2.00</div></td>
            <td><div style="width:122px;height:50px;margin-right:14px;background-color:white;" id="perutNetuneyMisra_meyuhedet"></div></td>
            <td><div style="width:122px;height:50px;margin-right:14px;background-color:white;" id="perutNetuneyMisra_yoker"></div></td>
            <td><div style="width:122px;height:50px;margin-right:14px;background-color:white;" id="perutNetuneyMisra_izun"></div></td>
            <td><div style="width:122px;height:50px;margin-right: 19px;background-color:white;" id="perutNetuneyMisra_ajuzit">653.2</div></td>
            <td><div style="width: 94px;height:50px;margin-right:14px;background-color:white;" id="perutNetuneyMisra_vetek">2,398</div></td>
            <td><div style="width: 144px;height:50px;margin-right:14px;background-color:white;" id="perutNetuneyMisra_scharYesod">3,045.7</div></td>
            <td><div style="width: 195px;height: 48px;margin-right: 12px;background-color:white;" id="perutNetuneyMisra_sachar">6,096.60</div></td>
        </tr>
    </table>
    <div id="perutNetuneyMisra_sahach" style="background-color:#cce2ff;height: 42px;width: 190px;margin-right: 2172px;font-weight: bold;margin-top: 8px;font-size: 34px;">6,096.60</div>
    <div style="margin-top: 94px;">
        <style>
            #netunimNosafim div:nth-child(odd) {
                background-color: white;
            }
            #netunimNosafim div:nth-child(even) {
                background-color: #f3f3f3;
            }
        </style>
        <div id="netunimNosafim" style="display:inline-block;margin-right: 359px;font-size: 34px;width: 276px;line-height: 45px;">
            <div style="margin-top: -1px;">085471523</div>
            <div style="">23/09/1978</div>
            <div style="">12/02/1999</div>
            <div style="
    margin-top: 2px;
">18/09/2019</div>
            <div style="">10,049</div>
            <div style="
    margin-top: 2px;
">רגיל</div>
            <div style="">נשוי/אה</div>
            <div style="
    margin-top: 1px;
">כן</div>
            <div style="">רגיל</div>
            <div style="
    margin-top: 2px;
">הסתדרות כללית</div>
            <div style="">כללית</div>
            <div style="
    margin-top: 2px;
">1 - יחידה</div>
            <div style="">חודשי</div>
        </div>
        <div style="display:inline-block;margin-right: 52px;margin-top: 44px;font-size: 34px;">
            <style>
                #tosafotPensioniot td div {
                    padding-right:3px;
                }
                #tosafotPensioniot tr:nth-child(odd) td {
                    background-color: white;
                }
                #tosafotPensioniot tr:nth-child(even) td {
                    background-color: #f3f3f3;
                }
                #tosafotPensioniot tr {
                    height:45px;
                }
            </style>
            <table id="tosafotPensioniot" style="margin-top: 5px;padding: 0;border-spacing: 10px;">
                <tbody>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                </tbody>
            </table>
            <div id="tosafotPensioniot_total" style="background-color: #cce2ff;width: 193px;margin-right: 1470px;margin-top: 5px;font-weight: bold;">10,049.23</div>
            <style>
                #hehzerHozaot td div {
                    padding-right:3px;
                }
                #hehzerHozaot tr:nth-child(odd) td {
                    background-color: white;
                }
                #hehzerHozaot tr:nth-child(even) td {
                    background-color: #f3f3f3;
                }
                #hehzerHozaot tr {
                    height:45px;
                }
            </style>
            <table id="hehzerHozaot" style="margin-top: 65px;padding: 0;border-spacing: 10px;">
                <tbody>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                </tbody>
            </table>
            <div id="hehzerHozaot_total" style="background-color: #cce2ff;width: 193px;margin-right: 1470px;margin-top: 5px;font-weight: bold;">10,049.23</div>
            <style>
                #tashlumimNosafim td div {
                    padding-right:3px;
                }
                #tashlumimNosafim tr:nth-child(odd) td {
                    background-color: white;
                }
                #tashlumimNosafim tr:nth-child(even) td {
                    background-color: #f3f3f3;
                }
                #tashlumimNosafim tr {
                    height:45px;
                }
            </style>
            <table id="tashlumimNosafim" style="margin-top: 81px;padding: 0;border-spacing: 10px;">
                <tbody>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                </tbody>
            </table>
            <div id="tashlumimNosafim_total" style="background-color: #cce2ff;width: 193px;margin-right: 1468px;margin-top: 5px;font-weight: bold;">10,049.23</div>
            <style>
                #rehiveiAvodaNosefet td div {
                    padding-right:3px;
                }
                #rehiveiAvodaNosefet tr:nth-child(odd) td {
                    background-color: white;
                }
                #rehiveiAvodaNosefet tr:nth-child(even) td {
                    background-color: #f3f3f3;
                }
                #rehiveiAvodaNosefet tr {
                    height:45px;
                }
            </style>
            <table id="rehiveiAvodaNosefet" style="margin-top: 65px;padding: 0;border-spacing: 10px;">
                <tbody>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                </tbody>
            </table>
            <div id="rehiveiAvodaNosefet_total" style="background-color: #cce2ff;width: 193px;margin-right: 1470px;margin-top: 5px;font-weight: bold;">10,049.23</div>
            <style>
                #shoviLemas td div {
                    padding-right:3px;
                }
                #shoviLemas tr:nth-child(odd) td {
                    background-color: white;
                }
                #shoviLemas tr:nth-child(even) td {
                    background-color: #f3f3f3;
                }
                #shoviLemas tr {
                    height:45px;
                }
            </style>
            <table id="shoviLemas" style="margin-top: 79px;padding: 0;border-spacing: 10px;">
                <tbody>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                    <tr>
                        <td style="width: 84px;"><div style="padding-right: 0;">430</div></td>
                        <td style="width: 391px;"><div>תוספת באחוזים</div></td>
                        <td style="width: 137px;"><div>841000</div></td>
                        <td style="width: 125px;"><div>3.6</div></td>
                        <td style="width: 120px;"><div>807.00</div></td>
                        <td style="width: 128px;"><div>327.21</div></td>
                        <td style="width: 154px;"><div>381.00</div></td>
                        <td style="width: 240px;"><div>קבוע</div></td>
                        <td style="width: 202px;"><div>1,254.00</div></td>
                    </tr>
                </tbody>
            </table>
            <div id="shoviLemas_total" style="background-color: #cce2ff;width: 143px;margin-right: 1057px;margin-top: 9px;font-weight: bold;">1,049.23</div>
        </div>
    </div>
</div>
<div style="background-image: url('/israel-mock-data-generator-private-data/salaries/north_page_2.png');
            width: 2500px;
            height: 3508px;">
</div>
{% endblock %}
</body>
</html>
